.banner {
  height: 400px;
  color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}
.content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
